body {
    /* overflow-x: hidden; */
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(250, 243, 234);
    padding: 2%;
    /* overflow-y: hidden; */

}

#divTable{
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    overflow-x: hidden;

}

th {
    color: rgb(255, 132, 0);
  }

button {
    background-color: white;
    color: rgb(255, 132, 0);
    border-radius: 10px;
    border: solid 1px rgb(255, 132, 0);
    padding: 1%;
    margin: 0.5%;
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;

    
}

button:hover{
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 10px;
    border: solid 1px rgb(255, 132, 0);
    padding: 1%;
    margin: 0.5%;
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.alerte{
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.alerteVerte{
    background-color: green;
}

.alerteRouge{
    background-color: red;
}

.alerteJaune{
    background-color: yellow;
}

.containerAlerte{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
}

.containerAlerte>div{
    margin-right: 3%;
    font-size: 30px;
    font-weight: 600;
}

.texteVert{
    color: green;
}

.texteRouge{
    color: red;
}

.texteJaune{
    color: yellow;
}



.hidden{
    display: none;
}

/* #tablePhones_filter{
    position: fixed;
    right: 80;
}

.pagination{
    position: fixed;
    right: 80;
    bottom: 100;
} */

.btnAction{
    background-color: white;
    color: rgb(255, 132, 0);
    border-radius: 10px;
    border: solid 1px rgb(255, 132, 0);
    width: 152px;
    height: 38px;
    padding: 1%;
    margin: 0.5%;
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;
}

.btnAction:hover{
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 10px;
    border: solid 1px rgb(255, 132, 0);
    width: 152px;
    height: 38px;
    padding: 1%;
    margin: 0.5%;
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}





/* .page-link{
    color: rgb(255, 132, 0);

}

.page-link.active{
    background-color: rgb(255, 132, 0)
    
} */

.btnActionBas{
    background-color: white;
    color: rgb(255, 132, 0);
    border-radius: 10px;
    border: solid 1px rgb(255, 132, 0);
    width:250px;
    height: 38px;
     padding: 1.1%;
    margin: 0.5%; 
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

.btnActionBas:hover{
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 10px;
    border: solid 1px rgb(255, 132, 0);
    padding: 1%;
    margin: 0.5%;
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.divForm{
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    overflow-x: hidden;
    width: 40%;
    margin: auto;



}

.titre{
    font-size: 1em;
    color: rgb(255, 132, 0);
    margin-right: 20px;
    width: 100%;
    /* text-decoration: underline; */
    text-align: left;
    font-weight: bold;

}

.inline{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

/* .line{
    width: 80%;
    height: 3px;
    margin: auto;
    background-color: black;
} */

a{
    text-decoration: none;
}

body::-webkit-scrollbar{
    display: none;
  }