body {
    /* overflow-x: hidden; */
    overflow-x: scroll;
    width: 100%;
    background-color: rgb(250, 243, 234);
    padding: 2%;


}

#divTable{
    background-color: white;
    border-radius: 20px;
    padding: 2%;
    overflow-x: scroll;

}

th {
    color: rgb(255, 132, 0);
  }

button {
    background-color: rgb(255, 132, 0);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1%;
    margin: 0.5%;
    font-size: 1.02em;
    font-weight: 600;
    cursor: pointer;
}

.alerte{
    height: 35px;
    width: 35px;
    border-radius: 50px;
}

.alerteVerte{
    background-color: green;
}

.alerteRouge{
    background-color: red;
}

.alerteJaune{
    background-color: yellow;
}

.containerAlerte{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
}

.containerAlerte>div{
    margin-right: 3%;
    font-size: 30px;
    font-weight: 600;
}

.texteVert{
    color: green;
}

.texteRouge{
    color: red;
}

.texteJaune{
    color: yellow;
}

#formLigne{
    background-color: red;
}

.hidden{
    display: none;
}